.minecraft/logs
.minecraft/journeymap
HMCL.exe
hmcl.json
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/versions/1.12.2/hmclversion.cfg
.minecraft/crafttweaker.log
.minecraft/.mixin.out
.minecraft/assets
.minecraft/libraries
.minecraft/resourcepacks
.minecraft/saves
.minecraft/shaderpacks
.minecraft/launcher_profiles.json
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/servers.dat
.minecraft/versions/1.12.2/hmclversion.cfg
instance.cfg
mmc-pack.json
